.logo {
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }
  font-weight: bold;
  font-size: 1.5rem;
  a {
    text-decoration: none;
    color: inherit;
    display: block;
  }
}

.logo-mobile {
  display: block;
  padding: 10px 0;
  @include media-breakpoint-up(sm) {
    display: none;
  }
  font-weight: bold;
  font-size: 1.25rem;
  a {
    text-decoration: none;
    color: inherit;
    display: block;
  }
}
